.footer {
    width: calc(100vw - 300px);
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer span {
    color: #888;
    margin: 0;
}

.footer a {
    color: rgb(0, 120, 212);
    margin: 0;
}